@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    color: white;
}

/* Fonts */
.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
  

img {
    display: block;
}

body {
    background-image: url(eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-left: 1rem;
    user-select: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    
    margin-right: 1.5rem;
}

nav button {
    background: none;
    border: none;
    font-size: 1rem;
    transition: color 300ms linear;
}

nav button:hover {
    cursor: pointer;
    color: rgb(102, 38, 204);
    transition: color 300ms linear;
}


#content {
    max-width: 960px;
    margin-inline: auto;
}

/* Home */
.promo-text {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 4rem;
}

.order-button {
    width: 130px;
    height: 55px;
    letter-spacing: 1px;
    background: none;
    border: 1px solid white;
    padding: 1rem 1.5rem;

    display: block;
    margin: 0 auto;
}

.order-button:hover,
.order-button:focus {
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 1px 1px 10px rgb(248, 221, 255);
}