@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    color: white;
}

::selection {
    background: rgba(126, 37, 52, 0.3);
}

/* Fonts */
.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
  

img {
    display: block;
}

body {
    margin: 0;
    background-image: url(images/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 8px;
}

h1 {
    margin-left: 1rem;
    user-select: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    
    margin-right: 1.5rem;
}

nav button {
    background: none;
    border: none;
    font-size: 1rem;
    transition: color 300ms linear;
}

nav button:hover {
    cursor: pointer;
    color: rgb(102, 38, 204);
}

.card {
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
    max-width: 700px;
    margin-inline: auto;
    text-align: center;
    padding: 1rem 2rem;;
}

/* Home - top section */
.top {
    margin-bottom: 4rem;
}

.promo-text {
    text-align: center;
    text-shadow: 1px 1px 10px black;
    font-size: 4rem;
}

.order-button {
    width: 130px;
    height: 55px;
    letter-spacing: 1px;
    background: none;
    border: 1px solid white;
    padding: 1rem 1.5rem;

    display: block;
    margin: 0 auto;
}

.order-button:hover,
.order-button:focus {
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 1px 1px 10px rgb(248, 221, 255);
}

/* Home - middle section */
.banner {
    background-color: rgba(52, 23, 71, 0.5);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    overflow: hidden;
    padding: 0 1rem;
}

.banner img {
    width: 400px;
}

.banner button {
    margin: 0;
    background: none;
    border: none;
}

.banner button:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 30px;
    height: 30px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
}

.banner button:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 30px;
    height: 30px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

/* Menu */
.menu {
    max-width: 800px;
    margin-inline: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    background:rgba(0, 0, 0, 0.65);
    padding: 1.5rem;
}

.menu > div {
    width: 100%;
    background:rgba(0, 0, 0, 0.65);
    transition: box-shadow 200ms linear;

    display: flex;
}

.menu > div:hover,
.menu > div:focus {
    box-shadow: 0 0 10px rgba(255, 234, 237, 0.5);
}

.menu > div > img {
    align-self: center;
    max-width: 300px;
    padding-right: 1rem;
}

h2 {
    margin: 0;
}